svg {
  .axis {
    path, line {
      fill: none;
      stroke: blue;
    }
  }

  circle {
    &:hover {
      fill: red;
    }
  }
}

#tooltip {
  position: absolute;

  &.hidden {
    display: none;
  }
}
